<div class="row">
  <div class="col-xs-5">
      <div class="panel panel-default">
          <div class="panel-heading" style='font-size:20px;'>Contacts <div class="btn btn-success pull-right" >New Contact</div></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <cms-contact-list
                (selectedContactEvent)="selectedContact = $event">
              </cms-contact-list>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col-md-3">
    <cms-contacts-detail *ngIf="selectedContact; else infoText"
    [contact]="selectedContact"></cms-contacts-detail>
    <ng-template #infoText>
     <p>Please select a contact!</p>
   </ng-template>
  </div>
</div>
