<div class="row">
  <div class="col-xs-5">
      <div class="panel panel-default">
          <div class="panel-heading" style='font-size:20px;'>Contacts <div class="btn btn-success pull-right" routerLink="new" >New Contact</div></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <cms-contact-list></cms-contact-list>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col-md-3">
<router-outlet></router-outlet>
  </div>
</div>
