<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2>{{contact.name}}</h2>
        <span>
            <img
            [src]="contact.imageUrl"
            alt="{{contact.name}}"
            class="img-responsive"
            style="max-width:70px">

          </span>
          <div class="col-xs-13 pull-right" style="position:relative; bottom:70px; right:100px;">
              <span >
                  <a (click)="onEditContact()" class="btn btn-primary" style="margin-right:20px;">Edit</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </span>
          </div>
      </div>
      <div class="panel-body">
            <p><b>Email:</b></p> <p>{{contact.email}}</p>
            <p><b>Phone:</b></p><p>{{contact.phone}}</p>
        </div>
  </div>
</div>
